header{
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: rgb(71, 99, 99);
}

ul{display: inline-block;
margin-bottom: 1rem;
text-decoration: none;
cursor: pointer;
}